<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Grid Quiz</title>
    <link rel="stylesheet" href="/main.css"/>
    <link rel="stylesheet" href="/index.css"/>
</head>
<body>


<div class="wrapper">
    <div class="container">
        <h1>Welcome</h1>
        <form class="form" action="/login" method="post">
            <input type="text" id="username" name="username" placeholder="Username">
            <input type="password" id="password" name="password" placeholder="Password">
            <button type="submit" value="singin">Login</button>
        </form>
    </div>
</div>


<!--<div id="react"></div>

<script src="built/bundle.js"></script>-->

</body>
</html>